.rooms{
    text-align: left;
}
.size{
    text-align: right;
    
}
.item p{
    display:inline-block;
}
#header1 h2{


}
.amenities{
    color:rgb(36,35,35)
}
.all{
    color:rgb(38,36,36)
    
}
#gallery h3{
    color:rgb(38,36,36)

}